*{
    box-sizing: border-box;
    color: rgb(43, 72, 72);
    font-family: 'roboto' !important;
    font-size: 1rem !important;
}
header{
    height: 35vw;
    max-height: 12rem;
    width: 100vw;
    background-image: url(../images/food-banner.jpeg);
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 3;
}
.navbar{
    background-color: rgb(237, 237, 125) !important; 
    color: rgb(43, 72, 72) !important;
    padding: 1rem;
    
}
#listaVerPedido{
    background-color: rgb(43, 72, 72);
    width: fit-content;
    
}
#listaVerPedido *{
    color: rgb(237, 237, 125) !important;
    font-weight: 200;
    font-size: 0.8rem;
}
.opcionesNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.opcionesNav>ul{
    width: 80%;
    justify-content: space-around;
}
#confirmo{
    background: linear-gradient(to right, #00b09b, #96c93d) ;
}
#cancelo{
    color: white;
    background-color: red;
    height: 100%;
}
#confirmarPedido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    position: fixed;
    top: 90vh;
    left: 5vw;
}
main{
    background-color: rgb(237, 237, 125);
}
h1{
    background-color: transparent;
    padding-top: 1rem;
    text-align: center;
    font-size: calc(5px+1vw);
    z-index: 2;
}
h2{
    text-align: center;
    padding: 2rem;
    background-color: linear-gradient (to right, #b00000, #f9d5d5);
}
h3{
    padding: 1rem;
    text-align: center;
    width: 100%;
    text-decoration: underline;
    font-size: 1.3rem !important;
}
menu{
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedorMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
}
.divMenu{
    padding: 1rem;
    margin: 0.5rem;
    font-size: 0.9em;
    background-color: transparent;    
}
.card{
    background-color: transparent;
    border: 0.2rem solid rgb(43, 72, 72);  
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.boton{
    background-color: transparent;
    border-radius: 0.5em;
    font-size: 1rem;
}
.boton:hover{
    background-color: rgb(43, 72, 72);
    color: rgb(237, 237, 125);
    scale: 1.1;
    max-width: 250px;
    min-width: 80px;
}
.total{
    display: flex;
    justify-content: center;
}
.total>p{
    font-size: 1.5rem;
}
.total>p>span{
    font-size: 1.5rem;
}
.divPago{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}