*{
    box-sizing: border-box;
    color: rgb(43, 72, 72);
    font-family: sans-serif;
    font-size: 1em;
}
header{
    height: 10rem;
    width: 100%;
    background-image: url(../images/food-banner.jpeg);
    z-index: 1;
}
main{
    background-color: rgb(237, 237, 125);
}
h1{
    background-color: transparent;
    padding: 1rem;
    text-align: center;
    z-index: 2;
}
h2{
    padding: 2rem;
    text-align: center;
}
h3{
    padding: 1rem;
    text-align: center;
    width: 100%;
}
p{
    font-size: 20px;
}
menu{
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedorMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
}
.divMenu{
    padding: 1rem;
    margin: 0.5rem;
    font-size: 0.9em;
    
}
.boton{
    background-color: transparent;
    border-radius: 0.5em;
}
.botonAgregar:hover{
    background-color: aqua;
    scale: 1.1;
    max-width: 250px;
    min-width: 80px;
}
.total{
    display: flex;
    justify-content: center;
}
.divPago{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
#pagar{
    color: red;
    padding: 0.5rem;
    margin: 2rem;
}